<nav class="navbar border-bottom">
    <div class="container">
        <a class="navbar-brand"><%= config.app.name %> - <%= title %></a>

        <% if (session.auth) { %>
            <form action="/auth/logout" method="POST">
                <button class="btn btn-sm btn-outline-danger" type="submit">Logout</button>
            </form>
        <% } else { %>
            <a class="btn btn-sm btn-primary" href="/auth/login" role="button">Login</a>
        <% } %>
    </div>
</nav>